body {
}

.UserProfileImage{
    /*border:1px solid #ededed;
    border-radius:3px;*/

}

.UserProfileImage img{
    height:300px;
    cursor:pointer;
}

    .UserProfileImage .upload-image {
        background-color: #242424;
        opacity: 0.4;
        width: 92%;
        height: 50px;
        position: absolute;
        bottom: 28px;
        left: 15px;
        cursor: pointer;
        transform: scaleY(0);
        transition:0.3s;
        transform-origin:bottom;
    }

    .UserProfileImage:hover .upload-image {
        transform: scaleY(1);
    }

    .UserProfileImage .upload-image:before{
        content:"Change Photo";
        color:#fff;
        position:absolute;
        bottom:10px;
        left:110px;
        opacity:1;
        font-size:24px;
    }

    .UserProfileImage .upload-image img {
        height: 30px;
        width: 30px;
        color: #fff;
        position: absolute;
        top: 7px;
        left: 70px;
    }

    .UserProfileImage .remove-image {
        position: absolute;
        right: 15px;
        top: 0;
        border: 2px solid #ddd;
        padding: 10px;
        cursor: pointer;
        transform: scaleY(0);
        transition: 0.3s;
        transform-origin: top;
    }

    .UserProfileImage:hover .remove-image {
        transform: scaleY(1);
    }

    .UserProfileImage .remove-image glyphicon-remove {
        color: #cbcbcb;
    }

        .UserProfileImage .remove-image:hover .glyphicon-remove {
            color: #808080;
        }

/*.image-desc{
    text-align:center;
}*/